<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Main.Properties.Settings.CalzadoNacionalProConnectionString"
            connectionString="Data Source=OLIVERPC;Initial Catalog=CalzadoNacionalPro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.CalzadoNacionalProConnectionString1"
            connectionString="Data Source=OLIVERPC;Initial Catalog=CalzadoNacionalPro;Persist Security Info=True;User ID=Oliver"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>